snippet date "insert the date"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet me "my name"
`!v g:snips_author`
endsnippet

snippet @ "my email address"
`!v g:snips_author_email`
endsnippet

snippet email "name and email"
`!v g:snips_author` <`!v g:snips_author_email`>
endsnippet
